@charset "UTF-8";

/* この下にサイト用のスタイルを記入 */
/* ↓　サンプル　↓ */

body{
	font-family: Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	text-align:center;
}

button{
	margin-top:300px;
	background:#AB3232;
	color:#FFF;
	border:none;
	padding:15px 40px;
	border-radius:40px;
	font-size:2.5em;
}

button:focus{
	outline:none;
}

section,
#profile,
#productionSkills,
#GitHub,
#Production {
  scroll-margin-top: 70px; /* navbarの高さ */
}
